<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="FlashPaperDir" value="c:\FlashPaper\"/>
    <add key="Timeout" value="30"/>
    <add key="ConvertProcessNames" value="FlashPrinter,WINWORD,AcroRd32,POWERPNT,EXCEL"/>
  </appSettings>
  <connectionStrings>
    <add name="LCourseDocsConvertService.Properties.Settings.flashPaperDbConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FLASHPAPERDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
